/*----------------------- header*/

head {
  font-family: 'Roboto', sans-serif;
}

body {
  font: 20px Montserrat, sans-serif;
  line-height: 1.8;
  color: #333;
  display: block;
  padding: 10px 20px 75px 20px;
  

}

/*----------------------navigation bar*/

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-weight: normal;
  font-size: 24px;
}

li {
  float: left;
}

navbar-brand {
  color: black;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;

}

li a:hover {
  background-color: #9FA8DA;
  color: white;
  text-decoration: none;
  font-weight: bold;
}

/*---------------------end of navigation bar*/

.main-container {

  
}
.container-main-photo {
  max-height: 300px;
  max-width: 80%;
  
}

/* ---------------------------------- Article*/
.article {
  position: relative;
  vertical-align: top;
  background-color: #fff
  margin-bottom: 1em;
  max-width: 830px;
  padding: 2em 0 0 0;
  text-align: left;
}

.site-photo {
  position: relative;
  text-align: center;
  margin-bottom: 1.6em;
}

.site-description {
  margin: 2em 5% 2em 5%;
  font-size: 1.1em;
  line-height: 1.7;
  color: #333;
}


/* ---------------------------------- Title*/

.title {
  text-align: left;
  padding-left:20px;
}

.title-row {
  padding-top: 20px;
  padding-bottom: 20px;
  

}
/* ---------------------------------- Containers*/

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.main-photo {
  display: block;
  max-height: 730px;
  max-width: 1160px;
  padding: 30px;
  overflow: auto;
}


#container-about-cork {
  font-size: 16px;
  margin: 25px 50px 75px;
  padding: 30px;
 

}
@media screen and (min-width: 600px) {
#container-about-cork {
  font-size: 20px;
  margin: 25px 20px 75px 20px;
  }
}
@media screen and (max-width: 600px) {
#container-about-cork {
  font-size: 14px;
  margin: 25px 10px 75px 20px;
  }
}

.container-ucc-campus {
  
}



/*---------------------footer*/

.p-3 {
    padding: 1rem!important;
}

.mt-5, .my-5 {
    margin-top: 3rem!important;
  
}

.bg-secondary {
    background-color: #6c757d!important;
}

.footer {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.text-white {
  color: #fff!important;
}

.col-12 {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
  text-align: center;
}